# Node modules
node_modules/
/data/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Output directories
dist/
build/
.output/

# Dependency directories
.pnp/
.pnp.js

# Vercel
.vercel/

# Next.js
.next/

# Env files
.env
.env.local
.env.*.local

# Mac system files
.DS_Store

# TypeScript
*.tsbuildinfo

# Temporary files
*.tmp
*.temp

# Coverage directories
coverage/

# IDE directories
.vscode/
.idea/

# Misc
*.bak
*.swp

# Public assets cache
/public/.cache/

# Ignore .next folder used by Next.js
.next

# Ignore environment key files
.env*

# Astro
.astro
