---
import "../../styles/global.css";
import { ChatInterface } from "@/domain/conversations/components/chat-interface";
import { CodePreview } from "@/components/code-preview";
import BaseLayout from "@/layouts/BaseLayout.astro";
import * as db from "@/lib/db";

const { id } = Astro.params;
if (!id) {
	return Astro.redirect("/dashboard");
}

const project = db.projects.getById(id);

if (!project) {
	return Astro.redirect("/dashboard");
}
---

<BaseLayout title={project.name} fullWidth projectName={project.name}>
  <main class="flex h-full flex-col max-h-[calc(100vh-3.5rem)] min-h-[calc(100vh-3.5rem)]">
    <div class="flex flex-1 overflow-hidden">
      <div class="w-1/3 flex">
        <ChatInterface client:load projectId={id} />
      </div>
      <div class="w-2/3 flex overflow-hidden">
        <CodePreview client:load projectId={id} />
      </div>
    </div>
  </main>
</BaseLayout>
