---
import "../styles/global.css";
import { Hero } from "@/components/Hero";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Astro Starter</title>
  </head>
  <body>
    <Hero client:load />
  </body>
</html>
